/* Global CSS */
@font-face {
  font-family: 'Open Sans';
  src: url('../public/fonts/OpenSans-Regular.woff2') format('woff2'),
      url('../public/fonts/OpenSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins-Regular.woff2') format('woff2'),
      url('../public/fonts/Poppins-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins-Bold.woff2') format('woff2'),
      url('../public/fonts/Poppins-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins-Medium.woff2') format('woff2'),
      url('../public/fonts/Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  font-family: 'Open Sans';
  -webkit-font-smoothing: "Roboto", sans-serif;
  -moz-osx-font-smoothing: "Roboto", sans-serif;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h5{
  margin: 0;
  font-family: 'Poppins';
  font-weight: 500;
}
p{
  margin: 0;
}
:root{
  --primary-pink: hsl(322, 100%, 66%);
  --primary-light-pink: hsl(321, 100%, 78%);
  --primary-light-red: hsl(0, 100%, 63%);
  --netural-dark-cyan: hsl(192, 100%, 9%);
  --natural-pale-blue: hsl(207, 100%, 98%);
  --white: #fff;
}
.btn{
  font-family: 'Poppins';
  display: inline-block;
  padding: 5px 30px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.btn-outline-primary{
  padding: 11px 32px;
  color: var(--primary-pink);
  background-color: var(--white);
  border: 2px solid var(--primary-pink);
  font-weight: 500;
}
.btn-outline-primary:hover{
  background-color: var(--white);
  border-color: var(--primary-light-pink);
}
.btn-primary {
  color: var(--white);
  background-color: var(--primary-pink);
  border: 1px solid var(--primary-pink);
}
.btn-primary:hover {
  background-color: var(--primary-light-pink);
  border: 1px solid var(--primary-light-pink);
}
/* Global CSS Ends */

/* Heading 1 */
h1 {
  font-size: 55px;
  font-weight: 700;
  line-height: 67px;
}
/* Heading 2 */
h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
}
/* Heading 3 */
h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}
/* Header style */
.header--section{
  display: flex;
  justify-content: space-between;
  padding: 60px 100px;
}
/* Header style end */
/* Hero section */
.hero--section{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 200px 0;
  
}
.hero--section-title{
  color: var(--netural-dark-cyan);
  font-size: 63px;
}
.hero--section-paragraph {
  width: 33%;
  margin: 30px auto 0px;
  font-size: 20px;
  color: var(--netural-dark-cyan);
  line-height: 30px;
}
.btn-primary{
  padding: 30px 140px;
  font-size: 23px;
  font-weight: 500;
  box-shadow: 2px 5px 6px 4px rgb(230, 229, 229);
  margin-top: 50px;
}
/* Hero section style ends */
/* Counter section */
.counter--section{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.counter-section-counter{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 300px;
  padding: 80px 100px;
  align-items: center;
  justify-content: space-around;
}
.counter-section-counter h1{
  font-size: 90px;
  padding: 30px 0;
}
.counter-section-counter h4{
  text-align: center;
  font-size: 25px;
  color: rgb(153, 152, 152);
  font-weight: 400;
}
/* Counter section style ends */
/* Grow and flow sections */
.grow--section, .flow--section, .users--section{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 60px 100px;
  align-items: center;
  background-color: hsl(206.7, 100%, 98.2%);
  position: relative;
  margin: 300px 0;
}
.flow--section{
  background-color: transparent;
}
.grow--section .border-image-top {
  position: absolute;
  top: -199px;
  left: 0;
  width: 100%;
  height: 200px;
  background-image: url(../public/img/bg-section-top-desktop-1.svg);
  background-size: cover;
}
.grow--section .border-image-bottom {
  position: absolute;
  bottom: -200px;
  left: 0;
  width: 100%;
  height: 200px;
  background-image: url('../public/img/bg-section-bottom-desktop-1.svg');
  background-size: cover;
}
.users--section .border-image-top {
  position: absolute;
  top: -199px;
  left: 0;
  width: 100%;
  height: 200px;
  background-image: url(http://localhost:3000/static/media/bg-section-top-desktop-1.d6d9d44b00bbb80d5065.svg);
  background-size: cover;
}
.users--section .border-image-bottom {
  position: absolute;
  bottom: -200px;
  left: 0;
  width: 100%;
  height: 200px;
  background-image: url('../public/img/bg-section-bottom-desktop-1.svg');
  background-size: cover;
}
.grow--section__img,
.flow--section__img,
.users--section__img {
  display: flex;
  justify-content: center;
}
.grow--section__img img,
.flow--section__img img,
.users--section__img img{
  width: 70%;
}
.grow--section__text,
.flow--section__text,
.users--section__text{
  padding: 0 80px;
}
.grow--section__text h1,
.flow--section__text h1,
.users--section__text h1{
  color: var(--netural-dark-cyan);
  padding-bottom: 30px;
}
.grow--section__text p,
.flow--section__text p,
.users--section__text p{
  color: var(--netural-dark-cyan);
  font-size: 20px;
  line-height: 30px;
}
/* Grow and flow sections style end */
/* Footer section */
.footer--section{
  background-color: var(--netural-dark-cyan);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 60px  150px;
  color: var(--white);
  gap: 230px;
  position: relative;
  margin-top: 250px;
}
.footer--section .border-image-top{
  position: absolute;
  top: -199px;
  left: 0;
  width: 100%;
  height: 200px;
  background-image: url('../public/img/bg-footer-top-desktop.svg');
  background-size: cover;
}
.footer-logo {
  filter: invert(87%) sepia(99%) saturate(2%) hue-rotate(284deg) brightness(113%) contrast(100%);
}
.footer--section__content p,
.footer--section__newsletter p{
  font-size: 18px;
  width: 64%;
  line-height: 28px;
  padding: 30px 0;
}
.footer--section__content-info{
  line-height: 40px;
}
.phone img, .email img{
  padding-right: 20px;
}
.footer--section__newsletter h2{
  font-weight: 500;
  font-size: 35px;
  text-transform: uppercase;
}
.footer--section__newsletter-form input{
  width: 60%;
  padding: 20px 40px;
  border: none;
  border-radius: 7px;
}
.btn-subscribe{
  border-radius: 7px;
  margin-left: 50px;
  border: none;
  background-color: var(--primary-pink);
  color: #fff;
  padding: 17px 40px;
  font-weight: 500;
}
.footer--section__content-social{
  font-size: 40px;
  margin: 40px 0;
}
.footer--section__content-social a{
  color: var(--white);
  padding: 0 7px;
}
.footer--section__content-social a:first-child{
  padding: 0px 7px 0 0;
}
/* Footer section style ends */